<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="myApp.js"></script>
<script src="myCtrl.js"></script>

<title>Adam Lehavi</title> 
<style>
    .input{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    width: 200px;
    height: 40px;
    }
    html{
    background-color: rgb(255, 230, 230);
    }
</style>