/* Contact.css */
.container {
  text-align: center;
}

.title {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Increases spacing between icons */
  padding: 20px;
  max-width: 300px; /* Adjust this value as needed */
  margin: auto; /* Centers the container */
}
