.reading-page {
    display: flex;
    flex-direction: column; /* Single-column layout */
    align-items: center; /* Center the content */
    background-color: black;
    color: white;
    padding: 20px; /* Ensure consistent padding */
}

.reading-explanation {
    max-width: 70%; /* Limit the text width */
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-bottom: 0%;
}

/* The container for the scatterplot ensures it takes full width */
.text-and-diagram-container {
    width: 100%; /* Full width for scatterplot */
    min-height: 100vh;
}


@media (min-width: 769px) {  
    .reading-page {
        display: flex;
        align-items: flex-start; /* Align items to the start of the flex container */
        padding: 0 5%; /* Optional: Adjust padding for larger screens */
    }
    .text-and-diagram-container {
        flex-grow: 1; /* Allows this container to take up the remaining space */
        flex-basis: 0%; /* Start from 0% of the flex container's remaining space after assigning fixed sizes */
        padding: 20px;
        /* max-width: 70%; Optional, ensures it doesn't exceed the available space minus the iframe container and potential margins */
    }
}