<!DOCTYPE html>
<html>
<head>
   <%- include ("../partials/header.ejs") %>
</head>
<body>
   <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="./">
        <img src="DarkBanner.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item" href="resume.html">
          Resume
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="passions.html">
              Passions
            </a>
            <a class="navbar-item" href="experience.html">
              Experience
            </a>
            <a class="navbar-item" href="past-projects.html">
              Past Projects
            </a>
            <a class="navbar-item" href="connect.html">
              Connect
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="contact-me.html">
              Contact Me
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
   <a href = "example.html" class = "button is-success">example button</a>
</body>
</html>
    
