.App {
    text-align: center;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}

.App.data-science{
    background-color: #001f3f;
}

.App.research {
    background-color: #430043;
}

.App.software-engineering {
    background-color: #002f00;
}