.App {
    text-align: center;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}

.App.data-science{
    background-color: #000a14;
}

.App.research {
    background-color: #140014;
}

.App.software-engineering {
    background-color: #001100;
}